/* Estilos para el body */
body {
    background-color: #fafafa;
    font-family: "Helvetica Neue", sans-serif;
}

/* Estilos para el panel de inicio de sesión */
#panelFormSignin {
    margin: 50px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

/* Estilos para el título del panel */
#panelFormSignin>label {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Estilos para los campos de entrada */
#panelFormSignin input[type="text"],
#panelFormSignin input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Estilos para el texto de ayuda de los campos de entrada */
#panelFormSignin input[type="text"]::placeholder,
#panelFormSignin input[type="password"]::placeholder {
    color: #aaa;
}

/* Estilos para el botón */
#panelFormSignin button {
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

#panelFormSignin button:hover {
    background-color: #222;
}

/* Estilos para el enlace de ayuda */
#panelFormSignin a {
    font-size: 14px;
    color: #999;
    text-decoration: none;
}

#panelFormSignin a:hover {
    text-decoration: underline;
}

/* Estilos para el mensaje de error */
#panelFormSignin .error {
    color: #f00;
    font-size: 14px;
    margin-top: 10px;
}