.popup2 {
    position: fixed;
    top: 0;
    width: 41.5%;
    right: 6px;
    height: 91vh;
    display: flex;
    flex-direction: column;
}

.chat-container {
    background: rgba(12, 147, 232, 0.9);
    padding: 20px;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin-top: 6px;
    height: 95%;
}

.message-list {
    flex-grow: 1;
    /* El mensaje debe ocupar todo el espacio disponible */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    /* Agregamos esta propiedad */
    margin-bottom: 10px;
}

.message-text {
    background-color: rgb(171, 237, 144);
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    margin-right: 17px;
    max-width: 50%;
    word-break: break-word;
    text-align: left;
}

.form-group {
    flex-grow: 1;
    margin-right: 10px;
}

.form-control {
    width: 100%;
}

.btn-send {
    width: 40px;
    height: 40px;
    text-align: center;
}

#my-button.send-container {
    display: flex;
    background-color: transparent;
    margin-bottom: 15px;
}



.message-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Agregamos esta propiedad para alinear verticalmente los elementos */
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: transparent;
    padding: 5px;
    margin-top: 5px;
}


#my-img.send-boton {
    width: 40px;
    height: 36px;
    background-color: transparent;
    margin-bottom: 10px;
}

.my-image {
    float: right;
    margin-left: 10px;
    height: 50px;
    width: 50px;
}

.message-content {
    display: flex;
    flex-direction: row;
    align-items: center; /* para centrar verticalmente */
    margin-right: 50px;
}
  
.my-image {
    height: 60px;
    width: 60px;
    margin-right: 10px; /* para separar la imagen del texto */
    margin-bottom: 20px;
    margin-top: -35px;
}


.other-message {
    background-color: rgb(237, 144, 144);
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    max-width: 50%;
    word-break: break-word;
    text-align: left;
    margin-left: 0;
    
}





  

  
  