.popupE {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__contentE {
    /* background: linear-gradient(to right, #1DD6D6, #3B9AED);  */
    background: #aa881a;
    padding: 40px;
    max-width: 60%;
    max-height: 60%;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}


.popup__labelE {
    font-size: 25px;
    color: white;
    font-weight: bold;
}


.aceptE {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}


.buttons-containerE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.aceptE button {
    width: 200px;
    height: 45px;
    margin: auto;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
    transition: background-color 0.5s ease;
}


.aceptE button:hover {
    transform: scale(1.15);
    background: linear-gradient(to bottom, #947631, #f7d778, #caa322, #f7d161);
}