/*.menu-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	/*background: linear-gradient(to right, #3B9AED, #1DD6D6);*/
	/*background-image: url('../Imagenes/fondoMenu.jpg');
	background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
	/*position: absolute;
	left: 50%;
	top: 20%;  /* Ajustar la posición superior */
	/*transform: translate(-50%, -20%);  /* Para ajustar el contenedor*/
/*}*/

.menu-container {
	height: 100%;
	width: 100%;
	/*border-radius: 0px;*/
	/*background: linear-gradient(to right, #3B9AED, #1DD6D6);*/
	background-image: url('../Imagenes/fondoMenu.jpg');
	background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
	position: absolute;
    overflow-x: hidden;
}

/*.email-container {
	color: white;
	font-size: 70%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 1%;
	position: absolute;
	top: 1%;
	right: 3%;  
}

.gemas-container {
	color: white;
	font-size: 70%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 1%;
	position: absolute;
	top: 5%;
	right: 3%;  
}*/


.submenu {
    padding: auto;
    text-align: center;
    color: #ffffff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(8px);
    border-radius: 15px;
    height: 75%;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
	margin-top: 40px;
}

/* Para los butons */
.menu-option {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 40%;  /* Para el ancho de los botones */
	height: 9%;
	/*background: linear-gradient(to right, #1DD6D6, #3B9AED);*/
	/*background: linear-gradient(to bottom, #dabf66 , #947631, #f7d778, #f7d161);*/
	background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);

	color: #684411;
	font-family: 'Helvetica', sans-serif;
	text-shadow: 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: 2px solid #ffffff; /* color de los bordes de los botones */
	/* Alinear los botones en el centro*/
	margin: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

.menu-option:hover {
	transform: scale(1.22);
	/*background: linear-gradient(to right, #3794e5,#41e5e5);*/
	/*background: linear-gradient(to bottom right, #c0c0c0, #808080, #d3d3d3);*/
	background: linear-gradient(to bottom right, #8b7500, #dabf66, #ffd700);
}

.menu-option input[type="button"] {
	display: none;
}

.menu-option label {
	font-size: 120%;
	text-align: center;
	font-family: "Arial", sans-serif;
}

.login-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.login-image {
	display: flex;
	top: 30%;
	left: 50%;
	width: 182px;
	margin: auto;
	margin-bottom: 2%;
	margin-top: -6%;
}

.login-image img {
	max-width: 100%;
}


.auth-container {
	position: relative;
}

.login-form {
	margin-top: 120px;
}

.logo-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cabecera {
    height: auto;
    width: auto;

    background-image: url('../Imagenes/fondoMenu.jpg');
    background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
    margin: 0 auto;
    overflow-x: hidden;
  
}

.App-header {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 70px;
    background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.email-container-button {
    position: absolute;
    right: 0;
    top: 0%;
    width: 200px;
    padding: 15px;
    /*background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);*/
    background-color: transparent;
    color: #684411;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 0px solid #ffffff;
}

.email-container-button:hover {
    background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
}

.gemas-container {
    position: absolute;
    color: #684411;
    font-size: 70%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 1%;
    /* margin-bottom: 1%; */
    top: 5%;
    right: 3%;  /* Moverlo a la derecha */
}
  
.menu-sesion-button2 {
    position: absolute;
    left: 0px;
    top: 0%;
    width: 195px;
    padding: 21px;
    background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
    color: #684411;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 0px solid #ffffff;
    text-align: left;
    padding-left: 60px;
}

.menu-sesion-button2:hover {
    transform: scale(1.05);
}

.titulo p {
	color: rgb(255, 255, 255);
	font-size: 34,5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin-top: 0.5%;
	margin-bottom: 3%;
    margin: 10px;
    display: inline-block;
}
  