.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup__content {
    /* background: linear-gradient(to right, #1DD6D6, #3B9AED);  */
    background-color: #0d2480;
    padding: 20px;
    max-width: 48%;
    max-height: 70%;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
  }
  
  .popup__close {
    position: absolute;
    top: 5px;
    right: 8px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

  .popup__label {
    font-size: 25px;
    color: white;
    font-weight: bold;

  }
  
  /* Para que sea el del pop up especifico*/
  #input-id {
    width: 50%;
    margin: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #010101;
    background-color: #ffffff;

  }

  .cancel, .acept {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .cancel button {
    width: 150px;
    height: 45px;
    margin-left: 40px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  .acept button {
    width: 150px;
    height: 45px;
    margin-right: 40px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: white;
    font-weight: bold;
    font-size: 110%;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .cancel button:hover, .acept button:hover {
    transform: scale(1.15);
    background: linear-gradient(to right, #3794e5,#41e5e5);
  }