.imagen-tablero {
    height: 788px;
    overflow-x: hidden;
}

.imagen-extra {
    position: fixed;
    bottom: 0;
    right: 0;
}

.imagen-extra-tablero {
    width: 80px;
    height: 80px;
    background: transparent;
    cursor: pointer;
}

.imagen-tablero {
    width: 100%;
}

.caja-propiedades {
}

input[type="button"] {
    margin-bottom: 10px;
    background: #e5b515;
    border-radius: 8px;
}

.row.no-gutters [class^='col-'] {
    padding-right: 0;
}

.btn-cartas-container {
    margin-right: 10px;
}

.btn-jugadores {
    margin-top: 5px;
}
/* Para la caja de los jugadores */
.lista-jugadores {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 229px;
    margin-bottom: 20px;
    overflow-y: auto;
    font-size: 20px;
}

.lista-jugadores ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

.lista-jugadores li {
    margin-bottom: 5px;
    font-size: 20px;
}

.lista-jugadores h3 {
    margin-top: 0;
    font-size: 15px;
    font-weight: bold;
}

/* Para la caja de las propiedades */
.lista-propiedades {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 2000px;

}

.lista-propiedades ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    max-height: 270px;
    overflow-y: auto;
}

.lista-propiedades li {
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid #000000; /* agrega una línea de 1px de ancho en la parte superior del elemento */
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-propiedades li img {
    margin-left: 13px;
    margin-bottom: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.lista-propiedades h3 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
}

button.vender {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #d31515;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
}

button.edificar {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #aa881a;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: -3px;
}

button.subastar {
    display: inline-flex;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #158ad3;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    margin-right: 5px;
}

.vender {
    margin-left: auto;
}

.subastar {
    margin-left: auto;
    margin-right: auto;
}

button.vender:hover {
    background-color: #ff6666;
}

button.edificar:hover {
    background-color: #d3b38c;
}

button.subastar:hover {
    background-color: #5c9ac1;
}

/* Para la caja de la información partida */
.lista-informacion {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 2000px;
    margin-bottom: 5px;
}

.lista-informacion ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    max-height: 270px;
    overflow-y: auto;
}

.lista-informacion li {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.lista-informacion button {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color:  #aa881a;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.lista-informacion button:hover {
    background-color: #d3b38c;
}

/* Para la caja de las cartas */
.lista-cartas {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 2000px;
    margin-bottom: -300px;
}

.lista-cartas ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    max-height: 270px;
    overflow-y: auto;
}

.lista-cartas li {
    margin-bottom: 5px;
    font-size: 22px;
}

.lista-cartas li img {
    margin-left: 8px;
    margin-bottom: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.lista-cartas h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.posicion-dadoIzq {
    position: absolute;
    top: 43%;
    left: 21%;
}

.posicion-dadoIzq img {
    width: 30%;
    height: 30%;
}

.posicion-dadoDcha {
    position: absolute;
    top: 43%;
    left: 31%;
}

.posicion-dadoDcha img {
    width: 30%;
    height: 30%;
}
