.imagen-tablero {
    height: 788px;
    overflow-x: hidden;
}

.imagen-extra {
    position: absolute;
    bottom: 0;
    right: 0;
}

.imagen-extra-tablero {
    width: 80px;
    height: 80px;
    background: transparent;
    cursor: pointer;
}

.imagen-tablero {
    width: 100%;
}

.caja-propiedades {
    margin-top: 160px;
}

input[type="button"] {
    margin-bottom: 10px;
    background: #e5b515;
    border-radius: 8px;
}

.row.no-gutters [class^='col-'] {
    padding-right: 0;
}

.btn-cartas-container {
    margin-right: 10px;
}

.btn-jugadores {
    margin-top: 5px;
}
/* Para la caja de los jugadores */
.lista-jugadores {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 229px;
    margin-bottom: -120px;
    overflow-y: auto;
}

.lista-jugadores ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
}

.lista-jugadores li {
    margin-bottom: 5px;
}

.lista-jugadores h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Para la caja de las propiedades */
.lista-propiedades {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 2000px;
    margin-bottom: -300px;
}

.lista-propiedades ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    max-height: 270px;
    overflow-y: auto;
}

.lista-propiedades li {
    margin-bottom: 5px;
}

.lista-propiedades h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* Para la caja de las cartas */
.lista-cartas {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    max-height: 1000px;
    margin-bottom: -300px;
    margin-right: 10px;
}

.lista-cartas ul {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    max-height: 270px;
    overflow-y: auto;
}

.lista-cartas li {
    margin-bottom: 5px;
}

.lista-cartas h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.posicion-dadoIzq {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
}

.posicion-dadoIzq img {
    width: 130px;
    height: 130px;
}

.posicion-dadoDcha {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
}

.posicion-dadoDcha img {
    width: 130px;
    height: 130px;
}

.prueba-posicion {
    position: absolute;  
}

.prueba-posicion img {
    width: 50px;
    height: 50px;
}