.tienda-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /*border-radius: 0px;*/
    background-image: url('../Imagenes/fondoMenu.jpg');
    position: absolute;
    background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
}
  
.cabecera {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../Imagenes/fondoMenu.jpg');
    background-size: cover; /* Para ajustar el tamaño de la imagen al contenedor*/
    margin: 0 auto;
    overflow-x: hidden;
}

.App-header {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 70px;
    background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.titulo {
    text-align: center;
}

.email-container-button {
    position: absolute;
    right: 0;
    top: 0%;
    width: 200px;
    padding: 15px;
    /*background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);*/
    background-color: transparent;
    color: #684411;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 0px solid #ffffff;
}

.email-container-button:hover {
    background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
}

.gemas-container {
    position: absolute;
    color: #684411;
    font-size: 70%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 1%;
    /* margin-bottom: 1%; */
    top: 5%;
    right: 3%;  /* Moverlo a la derecha */
}
  
.menu-sesion-button {
    position: absolute;
    left: 0px;
    top: 0%;
    width: 250px;
    padding: 21px;
    background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
    color: #684411;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 0px solid #ffffff;
    text-align: left;
    padding-left: 60px;

}

.menu-sesion-button:hover {
    transform: scale(1.15);
}

.skins-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .skins-container {
        margin-top: 80px;
    }
}
  

.skin {
    margin-top: 1em;
    background-color: #d0c3c3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    /*margin-top: 150px; /* Agregar la propiedad margin-top */
    padding: 15px;
    margin-left: 60px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.skin:hover{
    transform: scale(1.18);
}
  
.nutria-imagen {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}


.img-fluid:hover {
    animation: spin 2s ease-in-out;
}


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.skin h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skin h3 {
    display: inline-block; /* Coloca el elemento h3 y la imagen en línea */
}
  
.skin p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    color: white; /* Cambiar el color del texto a blanco */
    font-size: 210%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 1%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Agregar una sombra de texto */
}

  /* Para los butons */
.comprar-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  width: 70%;  /* Para el ancho de los botones */
/*  background: linear-gradient(to bottom, #dabf66 , #947631, #f7d778, #f7d161);*/
  background: linear-gradient(to bottom, #947631 , #f7d778, #dabf66, #f7d161);
  color: #684411;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid #ffffff; /* color de los bordes de los botones */
  /* Alinear los botones en el centro*/
  margin: auto;
  margin-top: 5px;
}

.comprar-option:hover {
    transform: scale(1.1);
    /*background: linear-gradient(to right, #3794e5,#41e5e5);*/
    /*background: linear-gradient(to bottom right, #c0c0c0, #808080, #d3d3d3);*/
    background: linear-gradient(to bottom right, #8b7500, #dabf66, #ffd700);
}

.logo-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
    
.gema-skin {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 25px;
    height: 25px; 
}

.gemas-mail {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.gema-mail-img {
    display: inline-block;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    width: 25px;
    height: 25px; 
}